<section class="section advantages">
  <div class="container advantages">
    <h2 class="visually-hidden">ADVANTAGES</h2>
    <ul class="advantages_list">
      <li class="advantage_item">
        <h3 class="advantage title cow">721</h3>
        <p class="advantage text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage_item">
        <h3 class="advantage title weight">16KG</h3>
        <p class="advantage text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage_item">
        <h3 class="advantage title ice">84</h3>
        <p class="advantage text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
