<section id="advantages" class="section advantages">
  <div class="container advantages">
    <h2 class="visually-hidden">ADVANTAGES</h2>
    <ul class="advantages_list">
      <li class="advantages_item">
        <p class="advantages_item cow"></p>
        <h3 class="advantages_item title">721</h3>
        <p class="advantages_item text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages_item">
        <p class="advantages_item weight"></p>
        <h3 class="advantages_item title">16KG</h3>
        <p class="advantages_item text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages_item">
        <p class="advantages_item ice"></p>
        <h3 class="advantages_item title">84</h3>
        <p class="advantages_item text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
