<section id="advantages" class="">
  <div class="container advantages">
    <h2 class="visually-hidden">ADVANTAGES</h2>
    <ul class="advantages_list">
      <li class="advantages_item">
        <div class="advantages_png cow"></div>
        <h3 class="advantages_item title">721</h3>
        <p class="advantages_item text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages_item">
        <div class="advantages_png weight"></div>

        <h3 class="advantages_item title">16KG</h3>
        <p class="advantages_item text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages_item">
        <div class="advantages_png ice"></div>
        <h3 class="advantages_item title">84</h3>
        <p class="advantages_item text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
