<section class="contacts container">
    <h2 class="visually-hidden">contacts</h2>
    <ul class="card-set">
        <li class="card-set__item">
            <p class="card-set__category">Cafe</p>
            <ul class="card-set-list">
                <li class="card-set-list__item">
                    <address class="address">
                        <p class="address__text">Chicago</p>
                        <a href="https://goo.gl/maps/kPFCmjttyeYcJ3eZA" rel="noopener noreferrer nofollow"
                            class="address__link">10340
                            Ridgeland Ave,
                            Chicago Ridge, IL 60415, USA</a>
                    </address>
                </li>
                <li class="card-set-list__item">
                    <ul class="working-time-list">
                        <li class="working-time-list__item">
                            <p class="working-time-list__text">Monday - Friday</p>
                            <p class="working-time-list__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="working-time-list__item">
                            <p class="working-time-list__text">Saturday - Sunday</p>
                            <p class="working-time-list__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li class="card-set-list__item">
                    <ul class="card-set__contacts">
                        <li class="card-set__contacts-item"><a href="tel:+61(0)383766284"
                                class="card-set__contacts-link">+61(0) 383 766 284</a></li>
                        <li class="card-set__contacts-item"><a href="mailto:noreply@envato.com"
                                class="card-set__contacts-link">noreply@envato.com</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="card-set__item">
            <p class="card-set__category">Food truck</p>
            <ul class="card-set-list">
                <li class="card-set-list__item">
                    <address class="address">
                        <p class="address__text">Los Angeles</p>
                        <a href="https://goo.gl/maps/dn1tomtUrV3Bcdvq6" rel="noopener noreferrer nofollow"
                            class="address__link">1003 Manhattan Ave,
                            Manhattan Beach, CA 90263, USA</a>
                    </address>
                </li>
                <li class="card-set-list__item">
                    <ul class="working-time-list">
                        <li class="working-time-list__item">
                            <p class="working-time-list__text">Monday - Friday</p>
                            <p class="working-time-list__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="working-time-list__item">
                            <p class="working-time-list__text">Saturday - Sunday</p>
                            <p class="working-time-list__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li class="card-set-list__item">
                    <ul class="card-set__contacts">
                        <li class="card-set__contacts-item"><a href="tel:+61(0)383766284"
                                class="card-set__contacts-link">+61(0)
                                383 766 284</a></li>
                        <li class="card-set__contacts-item"><a href="mailto:noreply@envato.com"
                                class="card-set__contacts-link">noreply@envato.com</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="card-set__item">
            <p class="card-set__category">Cafe</p>
            <ul class="card-set-list">
                <li class="card-set-list__item">
                    <address class="address">
                        <p class="address__text">New York</p>
                        <a href="https://goo.gl/maps/891QGGqXFeQAysgu8" rel="noopener noreferrer nofollow"
                            class="address__link">726 Sterling Pl, Brooklyn,
                            NY 11222, USA</a>
                    </address>
                </li>
                <li class="card-set-list__item">
                    <ul class="working-time-list">
                        <li class="working-time-list__item">
                            <p class="working-time-list__text">Monday - Friday</p>
                            <p class="working-time-list__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="working-time-list__item">
                            <p class="working-time-list__text">Saturday - Sunday</p>
                            <p class="working-time-list__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li class="card-set-list__item">
                    <ul class="card-set__contacts">
                        <li class="card-set__contacts-item"><a href="tel:+61(0)383766284"
                                class="card-set__contacts-link">+61(0)
                                383 766 284</a></li>
                        <li class="card-set__contacts-item"><a href="mailto:noreply@envato.com"
                                class="card-set__contacts-link">noreply@envato.com</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <ul class="button-list">
        <li class="button-list__item">
            <button type="button" class="button location-btn">Our Locations <svg class="button__svg location-icon">
                    <use href="./images/icons.svg#icon-arrow"></use>
                </svg></button>
        </li>
        <li class="button-list__item"><button type="button" class="button franchise-btn">Franchise <svg
                    class="button__svg franchise-icon">
                    <use href="./images/icons.svg#icon-arrow"></use>
                </svg></button>
        </li>
    </ul>

</section>