<section class="section reviews-section">
  <div class="container reviews-container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="one-time">
      <div>
        <img
          class="customer-photo"
          srcset="./images/mobile/customer-reviews/customer-1@2x.png 2x"
          src="./images/mobile/customer-reviews/customer-1.png"
          alt="customer-photo"
          loading="lazy"
        />

        <div class="reviews-container__text-wrapper">
          <p class="reviews-container__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <p class="customer-description">Emily, Los Angeles</p>
      </div>
      <div>
        <img
          class="customer-photo"
          srcset="./images/mobile/customer-reviews/customer-2@2x.png 2x"
          src="./images/mobile/customer-reviews/customer-2.png"
          alt="customer-photo"
          loading="lazy"
        />

        <div class="reviews-container__text-wrapper">
          <p class="reviews-container__text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
        </div>
        <p class="customer-description">Diana, Chicago</p>
      </div>
      <div>
        <img
          class="customer-photo"
          srcset="./images/mobile/customer-reviews/customer-3@2x.png 2x"
          src="./images/mobile/customer-reviews/customer-3.png"
          alt="customer-photo"
          loading="lazy"
        />

        <div class="reviews-container__text-wrapper">
          <p class="reviews-container__text">
            I love eating popsicles on a hot day. Yours is always delicious. I
            recommend your cafe to everyone I know.
          </p>
        </div>
        <p class="customer-description">Sam, Los Angeles</p>
      </div>
      <div>
        <img
          class="customer-photo"
          srcset="./images/mobile/customer-reviews/customer-4@2x.png 2x"
          src="./images/mobile/customer-reviews/customer-4.png"
          alt="customer-photo"
          loading="lazy"
        />

        <div class="reviews-container__text-wrapper">
          <p class="reviews-container__text">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
        </div>
        <p class="customer-description">Bryan, New-York</p>
      </div>
    </div>
  </div>
</section>
