<footer class="footer">
  <div class="container footer-social">
    <div class="footer-social__box">
      <div class="social-title-box">
    <p class="social-title">homemade ice cream made</p>
    <p class="social-title-two">with passion</p>
    </div>
    <div class="social">
        <ul class="social-list">
          <li class="social-list__item">
            <a href="" class="social-link">
            <svg class="social-item-logo" width="20"  height="20"><use href="./images/icons.svg#icon-github">
            </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href=""class="social-link">
            <svg class="social-item-logo"width="20" height="15"><use href="./images/icons.svg#icon-telegram">
            </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="" class="social-link">
              <svg class="social-item-logo" width="10" height="20"><use href="./images/icons.svg#icon-facebook">
              </svg>
            </a>
          </li>
        </ul>
      <a class="footer-tel" href="tel:+61083766284"><span class="footer-contact">Feel free to contact</span> +61 (0) 383 766 284</a>
    </div>
    </div>
    <div class="footer-border">
      <p class="footer-copyright">© 2022 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
