<section class="gallery">
  <div class="container gallery-container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery-photo-container">
      <picture>
        <source
          srcset="
            ./images/desktop/gallery/third-photo-gallery-1013.jpg    1x,
            ./images/desktop/gallery/third-photo-gallery-1013@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />

        <source
          srcset="
            ./images/tablet/gallery/third-photo-gallery-704.jpg    1x,
            ./images/tablet/gallery/third-photo-gallery-704@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./images/mobile/gallery/third-photo-gallery-279.jpg    1x,
            ./images/mobile/gallery/third-photo-gallery-279@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          class="gallery-photo third-gallery-photo"
          src="./images/desktop/gallery/third-photo-gallery-1013.jpg"
          alt="photo ice-crem"
          loading="lazy"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./images/desktop/gallery/second-photo-gallery-1013.jpg    1x,
            ./images/desktop/gallery/second-photo-gallery-1013@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />

        <source
          srcset="
            ./images/tablet/gallery/second-photo-gallery-704.jpg    1x,
            ./images/tablet/gallery/second-photo-gallery-704@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./images/mobile/gallery/second-photo-gallery-279.jpg    1x,
            ./images/mobile/gallery/second-photo-gallery-279@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          class="gallery-photo second-gallery-photo"
          src="./images/desktop/gallery/second-photo-gallery-1013.jpg"
          alt="photo ice-crem"
          loading="lazy"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./images/desktop/gallery/first-photo-gallery-1013.jpg    1x,
            ./images/desktop/gallery/first-photo-gallery-1013@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />

        <source
          srcset="
            ./images/tablet/gallery/first-photo-gallery-704.jpg    1x,
            ./images/tablet/gallery/first-photo-gallery-704@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./images/mobile/gallery/first-photo-gallery-279.jpg    1x,
            ./images/mobile/gallery/first-photo-gallery-279@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          class="gallery-photo first-gallery-photo"
          src="./images/desktop/gallery/first-photo-gallery-1013.jpg"
          alt="photo ice-crem"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
