<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a class="header-nav__logo" href="./index.html">
        <svg class="header-nav__logo-png" aria-label="Company's logo">
          <use href="./images/logo.png"></use>
        </svg>
      </a>
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a class="header-nav__link" href="#hero">Home</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#customer-reviews">About us</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#about">How it’s made?</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#products">Our products</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="header__btn">
      <button class="btn" type="button">Buy now</button>
      <svg class="header__btn-arrow" aria-label="Company's logo">
        <use href="./images/logo.png"></use>
      </svg>
    </div>

    <button class="mobile-menu__open-btn" type="button" data-menu-open>
      <svg
        class="mobile-menu__open-icon"
        width="40"
        height="40"
        aria-label="Mobile menu switch"
      >
        <use href="./images/logo.png"></use>
      </svg>
    </button>
  </div>

  <!-- Mobile menu -->

  <div class="mobile-menu" data-menu>
    <div class="container">
      <div class="mobile-menu__box">
        <a class="header-nav__logo" href="./index.html">
          <svg class="header-nav__logo-png" aria-label="Company's logo">
            <use href="./images/logo.png"></use>
          </svg>
        </a>
        <button class="mobile-menu__close-btn" type="button" data-menu-close>
          <svg
            class="mobile-menu__close-icon"
            width="40"
            height="40"
            aria-label="Mobile menu switch"
          >
            <use href="./images/logo.png"></use>
          </svg>
        </button>
      </div>

      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#hero">Home</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#customer-reviews">About us</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#about">How it’s made?</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#products">Our products</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#contacts">Contact</a>
        </li>
      </ul>

      <div class="header__btn">
        <button class="btn" type="button">Buy now</button>
        <svg class="header__btn-arrow" aria-label="Company's logo">
          <use href="./images/logo.png"></use>
        </svg>
      </div>
    </div>
  </div>
</header>
