<!-- Form product -->
<!-- Modal window -->
<div class="backdrop is_hidden" id="product-modal">
  <div class="modal modal__backdrop-form-product">
    <button type="button" class="modal__close-button" data-modal-close>
      <svg class="modal__btn-svg" width="10" height="10">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <form class="backdrop-form-buy" autocomplete="on">
      <p class="backdrop-form-product__text">Chololate icecream</p>

      <div class="backdrop-form-product__png"></div>

      <div class="backdrop-form-product__box-weight-content">
        <div class="backdrop-form-product__box-weight">
          <ul class="backdrop-form-product__list-weight">
            <li class="backdrop-form-product__item-weight">320</li>
            <li class="backdrop-form-product__item-weight">4g</li>
            <li class="backdrop-form-product__item-weight">8,2g</li>
            <li class="backdrop-form-product__item-weight">40,4g</li>
          </ul>
        </div>

        <div class="backdrop-form-product__box-content">
          <ul class="backdrop-form-product__list-content">
            <li class="backdrop-form-product__item-content">kcal</li>
            <li
              class="backdrop-form-product__item-content backdrop-form-product__item-content__mobile"
            >
              Prote...
            </li>
            <li
              class="backdrop-form-product__item-content backdrop-form-product__item-content__tablet"
            >
              Protein
            </li>
            <li class="backdrop-form-product__item-content">Fats</li>
            <li class="backdrop-form-product__item-content">Carbs</li>
          </ul>
        </div>
      </div>

      <p class="backdrop-form-product__text-second">Ingredients</p>

      <div class="backdrop-form-product__recipe">
        <ul class="backdrop-form-product__list-recipe-ingredients">
          <li class="backdrop-form-product__item-recipe-ingredients">Milk</li>
          <li class="backdrop-form-product__item-recipe-ingredients">
            Belgian chocolate
          </li>
          <li class="backdrop-form-product__item-recipe-ingredients">Cream</li>
          <li class="backdrop-form-product__item-recipe-ingredients">
            Cocoa powder
          </li>
          <li class="backdrop-form-product__item-recipe-ingredients">Sugar</li>
          <li class="backdrop-form-product__item-recipe-ingredients">
            Vanilla sugar
          </li>
        </ul>
        <ul class="backdrop-form-product__list-recipe-weight">
          <li class="backdrop-form-product__item-recipe-weight">100ml</li>
          <li class="backdrop-form-product__item-recipe-weight">20g</li>
          <li class="backdrop-form-product__item-recipe-weight">150ml</li>
          <li class="backdrop-form-product__item-recipe-weight">30g</li>
          <li class="backdrop-form-product__item-recipe-weight">40g</li>
          <li class="backdrop-form-product__item-recipe-weight">10g</li>
        </ul>
      </div>

      <div class="backdrop-form-buy__box">
        <input
          class="backdrop-form-buy__name-input backdrop-form-product__name-input"
          placeholder="Name"
          type="text"
          name="name"
          id="backdrop-form-buy__name"
          required
          autofocus
          pattern="[a-zA-Zа-яА-ЯіІїЇ]+"
          minlength="2"
        />
      </div>

      <div class="backdrop-form-buy__box">
        <input
          class="backdrop-form-buy__phone-input backdrop-form-product__name-input"
          placeholder="Phone"
          type="tel"
          name="backdrop-form-buy__phone"
          id="backdrop-form-buy__phone"
          required
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          title="xxx-xxx-xx-xx"
        />
      </div>

      <div class="backdrop-form-buy__box">
        <textarea
          class="backdrop-form-buy__comment backdrop-form-product__comment"
          name="backdrop-form-buy__comment"
          id="backdrop-form-buy__comment"
          placeholder="Comment"
        ></textarea>
      </div>

      <button
        class="button button_fill backdrop-form-buy__btn backdrop-form-product__btn"
        type="button"
      >
        Submit
      </button>
    </form>
  </div>
</div>

<header class="header">
  <div class="container modile-container mobile-box">
    <nav class="header-nav">
      <a class="header-nav__logo" href="./index.html">
        <picture>
          <source
            srcset="
              ./images/desktop/header/logo-60.png    1x,
              ./images/desktop/header/logo-60@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/header/logo-48.png    1x,
              ./images/tablet/header/logo-48@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/header/logo-40.png    1x,
              ./images/mobile/header/logo-40@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="header-nav__logo-img"
            src="./images/desktop/header/logo-60.png"
            alt="Company's logo"
          />
        </picture>
      </a>

      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a class="header-nav__link" href="#hero">Home</a>
        </li>
        <!-- <li class="header-nav__item">
          <a class="header-nav__link" href="#about">About us</a>
        </li> -->
        <li class="header-nav__item">
          <a class="header-nav__link" href="#about">How it’s made?</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#products">Our products</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="header__tablet-btn-box">
      <button
        class="button button_fill header__btn"
        type="button"
        data-modal-open="modal-buy-now"
      >
        Buy now
        <svg class="button__svg mobile-menu__svg">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </button>

      <button class="mobile-menu__open-btn" type="button" data-menu-open>
        <svg
          class="mobile-menu__open-icon"
          width="20"
          height="20"
          aria-label="Mobile menu switch"
        >
          <use href="./images/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>

  <!-- Mobile menu -->

  <div class="mobile-menu" data-menu>
    <div class="modile-container">
      <div class="mobile-box">
        <a class="header-nav__logo" href="./index.html">
          <picture>
            <source
              srcset="
                ./images/desktop/header/logo-60.png    1x,
                ./images/desktop/header/logo-60@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/header/logo-48.png    1x,
                ./images/tablet/header/logo-48@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/header/logo-40.png    1x,
                ./images/mobile/header/logo-40@2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="header-nav__logo-img"
              src="./images/desktop/header/logo-60.png"
              alt="Company's logo"
            />
          </picture>
        </a>

        <button class="mobile-menu__close-btn" type="button" data-menu-close>
          <svg
            class="mobile-menu__close-icon"
            width="20"
            height="20"
            aria-label="Mobile menu switch"
          >
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>

      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#hero">Home</a>
        </li>
        <!-- <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#customer-reviews">About us</a>
        </li> -->
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#about">How it’s made?</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#products">Our products</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#contacts">Contact</a>
        </li>
      </ul>

      <div class="mobile-menu__btn">
        <button
          class="button button_fill mobile-menu__btn"
          type="button"
          data-modal-open-menu
        >
          Buy now
          <svg class="button__svg mobile-menu__svg">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Modal window -->
  <div class="backdrop is_hidden" data-modal id="modal-buy-now">
    <div class="modal modal__backdrop-form-buy">
      <button type="button" class="modal__close-button" data-modal-close>
        <svg class="modal__btn-svg" width="10" height="10">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>

      <!-- Form -->
      <form class="backdrop-form-buy" autocomplete="on">
        <p class="backdrop-form-buy__text">Buy now</p>

        <div class="backdrop-form-buy__box-box-check">
          <div class="backdrop-form-buy__box-check">
            <input
              class="backdrop-form-buy__input-check-ice-cream visually-hidden"
              type="checkbox"
              name="backdrop-form-buy__choice-ice-cream"
              id="backdrop-form-buy__choice-ice-cream"
            />
            <label
              class="backdrop-form-buy__choice backdrop-form-buy__choice-ice-cream"
              for="backdrop-form-buy__choice-ice-cream"
            >
              <span
                class="backdrop-form-buy__png backdrop-form-buy__png-ice-cream"
              ></span>
              ice cream</label
            >
          </div>

          <div class="backdrop-form-buy__box-check">
            <input
              class="backdrop-form-buy__input-check-ice-coffee visually-hidden"
              type="checkbox"
              name="backdrop-form-buy__choice-ice-coffee"
              id="backdrop-form-buy__choice-ice-coffee"
            />
            <label
              class="backdrop-form-buy__choice backdrop-form-buy__choice-ice-coffee"
              for="backdrop-form-buy__choice-ice-coffee"
            >
              <span
                class="backdrop-form-buy__png backdrop-form-buy__png-ice-coffee"
              ></span>
              ice coffee</label
            >
          </div>

          <div class="backdrop-form-buy__box-check">
            <input
              class="backdrop-form-buy__input-check-milkshakes visually-hidden"
              type="checkbox"
              name="backdrop-form-buy__choice-milkshakes"
              id="backdrop-form-buy__choice-milkshakes"
            />
            <label
              class="backdrop-form-buy__choice backdrop-form-buy__choice-milkshakes"
              for="backdrop-form-buy__choice-milkshakes"
            >
              <span
                class="backdrop-form-buy__png backdrop-form-buy__png-milkshakes"
              ></span>
              milkshake</label
            >
          </div>
        </div>

        <div class="backdrop-form-buy__box">
          <input
            class="backdrop-form-buy__name-input"
            placeholder="Name"
            type="text"
            name="name"
            id="backdrop-form-buy__name"
            required
            autofocus
            pattern="[a-zA-Zа-яА-ЯіІїЇ]+"
            minlength="2"
          />
        </div>

        <div class="backdrop-form-buy__box">
          <input
            class="backdrop-form-buy__phone-input"
            placeholder="Phone"
            type="tel"
            name="backdrop-form-buy__phone"
            id="backdrop-form-buy__phone"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="xxx-xxx-xx-xx"
          />
        </div>

        <div class="backdrop-form-buy__box">
          <textarea
            class="backdrop-form-buy__comment"
            name="backdrop-form-buy__comment"
            id="backdrop-form-buy__comment"
            placeholder="Comment"
          ></textarea>
        </div>

        <button class="button button_fill backdrop-form-buy__btn" type="button">
          Submit
        </button>
      </form>
    </div>
  </div>
</header>
