<section id="hero" class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">
      ice cream made with <span class="hero__important">passion</span>
    </h1>

    <!-- links -->
    <div class="hero__links">
      <a
        href="#products"
        class="button button_transparent button_small hero__button"
        >Products</a
      >
      <a href="#about" class="hero__link">How it's made?</a>
    </div>

    <!-- cards -->
    <ul class="hero__cards">
      <li class="hero__card">
        <div class="hero__number">16</div>
        <div class="hero__object">cafes</div>
      </li>

      <li class="hero__card">
        <div class="hero__number">23</div>
        <div class="hero__object">food trucks</div>
      </li>
    </ul>

    <!-- description -->
    <div class="hero__description">
      <picture>
        <source
          srcset="
            ./images/desktop/hero/ice-cream-plate-225.webp    1x,
            ./images/desktop/hero/ice-cream-plate-225@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/desktop/hero/ice-cream-plate-225.png    1x,
            ./images/desktop/hero/ice-cream-plate-225@2x.png 2x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/tablet/hero/ice-cream-plate-152.webp    1x,
            ./images/tablet/hero/ice-cream-plate-152@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/tablet/hero/ice-cream-plate-152.png    1x,
            ./images/tablet/hero/ice-cream-plate-152@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />

        <img
          class="hero__image"
          src="./images/desktop/hero/ice-cream-plate-225.png"
          alt="Plate with ice-cream"
          loading="lazy"
        />
      </picture>
      <div class="hero__text">
        <div class="hero__paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </div>
        <a href="" class="hero__arrow">
          <svg class="hero__svg" width="40" height="14">
            <use href="./images/icons.svg#icon-long-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
    <!-- pictures -->
    <!-- Что бы сделать анимацию нуден элемент в разметке  -->
    <picture class="hero__main-picture">
      <!-- ./images/mobile/hero/hero-ice-cream-170@2x.png 2x -->
      <source
        srcset="
          ./images/mobile/hero/hero-ice-cream-170.webp    1x,
          ./images/mobile/hero/hero-ice-cream-170@2x.webp 2x
        "
        media="(max-width:677px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/mobile/hero/hero-ice-cream-170.png    1x,
          ./images/mobile/hero/hero-ice-cream-170@2x.png 2x
        "
        media="(max-width:677px)"
        type="image/png"
      />

      <source
        srcset="
          ./images/desktop/hero/hero-ice-cream-484.webp    1x,
          ./images/desktop/hero/hero-ice-cream-484@2x.webp 2x
        "
        media="(min-width:1200px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/desktop/hero/hero-ice-cream-484.png    1x,
          ./images/desktop/hero/hero-ice-cream-484@2x.png 2x
        "
        media="(min-width:1200px)"
        type="image/png"
      />

      <source
        srcset="
          ./images/tablet/hero/hero-ice-cream-270.webp    1x,
          ./images/tablet/hero/hero-ice-cream-270@2x.webp 2x
        "
        media="(min-width:678px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/tablet/hero/hero-ice-cream-270.png    1x,
          ./images/tablet/hero/hero-ice-cream-270@2x.png 2x
        "
        media="(min-width:678px)"
        type="image/png"
      />
      <img
        class="hero__main-img"
        src="./images/mobile/hero/hero-ice-cream-170.png"
        alt="ice-cream"
        loading="lazy"
      />
    </picture>
  </div>
</section>
