// основные стили кнопки
.button {
  display: inline-flex;
  align-items: center;
  padding: 12px 35px;

  @include font(14px, 600, 18px);
  font-weight: 600;
  color: var(--primary-title-color);

  border-radius: 10px;

  border: none;
  cursor: pointer;

  &__svg {
    width: 7px;
    height: 11px;
    fill: none;
    stroke: currentColor;
    margin-left: 16px;
  }

  &:focus,
  &:active {
    color: var(--primary-text-color);
  }
}

// сплошная кнопка
.button_fill {
  background-color: var(--primary-btn-color);
  transition: background-color 250ms var(--time-function),
    color 250ms var(--time-function);
  &:hover {
    background-color: var(--secondary-btn-color);
  }
  &:focus,
  &:active {
    background-color: var(--secondary-btn-color);
    // color: var(--primary-text-color);
  }
}

// прозрачная кнопка
.button_transparent {
  padding: 10px 33px;
  border: 2px solid var(--primary-btn-color);
  background-color: transparent;
  transition: border-color 250ms var(--time-function),
    color 250ms var(--time-function);

  &:hover {
    border-color: var(--secondary-btn-color);
  }
  &:focus,
  &:active {
    border-color: var(--secondary-btn-color);
  }
}

// кнопка с белым текстом
.button_color-light {
  color: var(--primary-text-color);
}

@media screen and (max-width: 1199px) {
  .button_small {
    @include font(8px, 600, 10px);

    padding: 6px 13px;
    border-radius: 8px;
  }
}
