.title {
  text-transform: uppercase;

  &_light {
    color: #fcfcfc;
  }

  &_dark {
    color: #000000;
  }

  &_header {
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 30px;
    line-height: 1.27;
  }

  &_label {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.23;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  &_light {
    color: #fcfcfc;
  }
  &_dark {
    color: #000000;
  }
}
