.title {
  text-align: center;
  text-transform: uppercase;

  &_light {
    color: #fcfcfc;
  }

  &_dark {
    color: #000000;
  }

  &_header {
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 30px;
    line-height: 1.27;
  }

  &_label {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 12px;
    padding-top: 60px;
  }
}

.about {
  padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .title_header {
    margin-bottom: 54px;
    margin-left: 34px;
    margin-right: 34px;
  }
  .about {
    &_thumb_picture {
      margin-bottom: 40px;
    }
    &_text {
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.62;
      text-align: center;
    }
    &_text_tablet {
      display: none;
    }
    &_picture {
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;

      box-shadow: 0px -24px 0px rgba(248, 210, 78, 0.7),
        0px -32px 30px rgba(153, 114, 23, 0.25);
    }
  }
  .button_about {
    background-color: #f8d24e;
    align-items: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: $tablet) {
  .about {
    padding-bottom: 60px;
  }
  .title_header {
    margin-bottom: 66px;
  }
  .about {
    &_header {
      font-size: 34px;
      line-height: 1.26;
    }

    &_label {
      font-weight: 800;
      font-size: 22px;
      line-height: 1.22;
    }
    &_thumb {
      display: flex;
      column-gap: 36px;
      justify-content: space-around;
    }
    &_thumb_picture {
      display: flex;
    }
    &_picture {
      width: 333px;
      height: 333px;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;

      box-shadow: 0px -24px 0px rgba(248, 210, 78, 0.7),
        0px -32px 30px rgba(153, 114, 23, 0.25);
    }
    &_thumb_text {
      display: flex;
      flex-direction: column;
      row-gap: 14px;
      width: auto;
      padding-top: 39px;
      font-size: 12px;
      line-height: 1.76;
      color: #fcfcfc;
    }
  }
  .button_about {
    background-color: #f8d24e;
    margin-top: 26px;
    width: fit-content;
  }
}

@media screen and (min-width: $desktop) {
  .title_header {
    margin-bottom: 121px;
  }
  .about {
    &_header {
      font-size: 36px;
      line-height: 1.25;
    }

    &_label {
      font-size: 30px;
      line-height: 1.23;
    }
    &_thumb {
      column-gap: 100px;
    }
    &_thumb_picture {
      display: flex;
    }
    &_picture {
      width: 500px;
      height: 500px;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0px -24px 0px rgba(248, 210, 78, 0.7),
        0px -32px 30px rgba(153, 114, 23, 0.25);
    }
    &_thumb_text {
      padding-top: 90px;
      padding-right: 105px;
      font-size: 14px;
      line-height: 1.94;
    }
  }
}

.modal {
  &.about {
    width: 568px;
    height: 449px;
  }
  &_about {
    &_title {
      font-family: 'Seymour One';

      font-weight: 400;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.4;
      color: #000000;

      text-align: center;
    }
    &_text {
      font-family: 'Montserrat';
      font-size: 16px;
      line-height: 1.4;
      color: #000000;
      text-align: center;
    }
    &_video {
      margin: 30px;
      width: 448px;
      height: 205px;
    }
  }
}
