.contacts {
  position: relative;
  top: -345px;
  margin-bottom: -345px;
  padding-bottom: 39px;

  @media screen and (min-width: $tablet) {
    top: -304px;
    margin-bottom: -304px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: $desktop) {
    top: -96px;
    margin-bottom: -96px;
    padding-bottom: 120px;
  }
}

.card-set {
  margin-bottom: 32px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;

    margin: -8px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    margin: -16px;
    margin-bottom: 64px;
  }
}

.card-set__item {
  padding: 40px 32px;

  background: var(--primary-text-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $tablet) {
    padding: 40px 36px 40px 24px;

    flex-basis: calc((100% - 6 * 8px) / 3);
    margin: 8px;
  }

  @media screen and (min-width: $desktop) {
    padding: 40px 40px;

    flex-basis: calc((100% - 6 * 16px) / 3);
    margin: 16px;
  }
}

.card-set__category {
  display: inline-block;
  padding: 0 23px;
  margin-bottom: 20px;

  background: var(--primary-btn-color);
  border-radius: 4px;

  @include font(12px, 500, 22.32px);
  text-transform: uppercase;

  color: var(--primary-text-color);

  @media screen and (min-width: $tablet) {
    padding: 0 15px;

    font-size: 16px;
    color: var(--secondary-black-text-color);
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 32px;
  }
}

.card-set-list__item {
  &:not(:last-child)::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--lines-color);

    margin: 24px 0;

    @media screen and (min-width: $tablet) {
      margin: 32px 0;
    }
  }
}

.address__text {
  margin-bottom: 8px;

  @include font(12px, 500, 22.32px);
  color: var(--primary-title-color);

  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}

.address__link {
  @include font(12px, 500, 22px);
  color: var(--card-brown-color);

  transition: text-decoration 250ms var(--time-function);

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}

.working-time-list__item {
  margin-bottom: 8px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 12px;
  }
}

.working-time-list__text {
  @include font(12px, 500, 22.32px);
  color: var(--primary-title-color);

  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}

.working-time-list__time {
  @include font(12px, 500, 22.32px);
  color: var(--secondary-grey-text-color);

  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}

.card-set__contacts-link {
  @include font(12px, 500, 22px);
  color: var(--secondary-black-text-color);

  transition: text-decoration 250ms var(--time-function);

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}

.button-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
  }
}

.button-list__item {
  &:not(:last-child) {
    @media screen and (min-width: $tablet) {
      margin-right: 16px;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 18px;
    }
  }
}

.location-btn {
  display: flex;
  justify-content: center;

  width: 196px;
  padding: 12px;

  color: var(--secondary-black-text-color);
  background-color: var(--primary-btn-color);
  border: 2px solid;
  border-color: transparent;
  outline: 0;

  transition: background-color 250ms var(--time-function);

  &:hover {
    background-color: var(--secondary-btn-color);
  }
  &:focus {
    background-color: var(--secondary-btn-color);
    color: var(--primary-text-color);
  }
  &:disabled {
    background-color: var(--secondary-grey-text-color);
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
}

.location-icon {
  margin-left: 12px;
}

.franchise-btn {
  display: flex;
  justify-content: center;

  width: 196px;
  padding: 12px;

  color: var(--secondary-black-text-color);
  background-color: transparent;
  border: 2px solid var(--primary-btn-color);
  outline: 0;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border-color: var(--secondary-btn-color);
  }
  &:focus {
    border-color: var(--secondary-btn-color);
    color: var(--primary-text-color);
  }
  &:disabled {
    border-color: var(--secondary-grey-text-color);
  }
}

.franchise-icon {
  margin-left: 12px;
}
