
.social-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    margin-bottom: 16px;
}
    
.social-title-two {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.20;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.social-title-box {
    margin-bottom: 40px;
}

.social {
    display: flex; 
    flex-direction: column;
    margin-bottom: 56px;
}

.social-list {
    display: flex;
    justify-content: right;
    gap: 28px;
    margin-bottom: 40px;
}
    
.social-list__item {
    display: flex;
    flex-wrap: wrap;
    width: 32px;
    height: 32px;
}

.social-link {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--primary-btn-color);
    fill: var(--section-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    fill: var(--card-background-color);
    outline: none;
}

.social-link:focus {
   
    transform: scale(1.2)
}

.footer-tel {
    text-align: right;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.02em;
}

.footer-contact {
    color: var(--primary-title-color);
}
    
.footer-social {
    display: block;
    padding-top: 120px;
    padding-bottom: 18px;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.02em;
    color: #7A7A7A;
    margin: auto;
    margin-top: 12px;
}

.footer-border::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    background-color: var(--lines-color);
}

.footer-border {
    padding-top: 12px;
}
        @media screen and (min-width: 320px) and (max-width: 767px) {
            
            .social-title {
                max-width: 250px;
            }

            .social-title-two {
                max-width: 200px;
            }

            .footer-copyright {
                max-width: 160px;
            }
        } 

        @media screen and (min-width: $tablet) and (max-width: 1199px) {

            .social-title {
                font-size: 26px;
                line-height: 1.23;
                letter-spacing: 0.04em;
                margin-bottom: 9px;
                max-width: 350px;
            }
    
            .social-title-two {
                font-size: 48px;
                line-height: 1.22;
                letter-spacing: 0.06em;
                max-width: 362px;
            }
    
            .social {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
    
            .social-list {
                display: flex;
                justify-content: right;
                gap: 28px;
                margin-top: 63px;
                margin-bottom: 37px;
            }
    
            .social-list__item {
                display: flex;
                flex-wrap: wrap;
                width: 34px;
                height: 34px;
                border-radius: 50%;
                background: var(--primary-btn-color);
            }
    
            .social-link {
                width: 34px;
                height: 34px;
                border-radius: 50%;
                display: flex;
                align-content: center;
                justify-content: center;
            }
    
            .footer-tel {
                text-align: right;
                font-weight: 700;
                font-size: 14px;
                line-height: 186%;
                letter-spacing: 0.02em;
            }
    
            .footer-contact {
                color: var(--primary-title-color);
            }
    
            .footer-social__box {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-bottom: 46px;
            }
    
            .footer-copyright {
                display: flex;
                justify-content: center;
                font-weight: 700;
                font-size: 14px;
                line-height: 186%;
                letter-spacing: 0.02em;
                color: #7A7A7A;
            }
        }

        @media screen and (min-width: $desktop) {

            .footer-social__box {
                display: flex;
                justify-content: space-between;
                padding-bottom: 66px;
            }

            .social-title {
                font-weight: 400;
                font-size: 30px;
                line-height: 1.23;
                letter-spacing: 0.04em;
                text-transform: uppercase;
            }

            .social-title-two {
                font-size: 58px;
                line-height: 1.22;
                letter-spacing: 0.06em;
            }

            .social-list {
                margin-bottom: 40px;
            }

            .social {
                margin-top: 12px;
            }

            .footer-tel {
                font-size: 16px;
            }
        }