.gallery {
  position: relative;
  min-height: 24px;
  background-repeat: no-repeat;
}



.gallery-photo-container {
  position: relative;
}

@keyframes changePhotoGallery {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gallery-photo {
  animation-name: changePhotoGallery;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  &:nth-of-type(1) {
    animation-delay: 6s;
  }
  &:nth-of-type(2) {
    animation-delay: 4s;
  }
  &:nth-of-type(3) {
    animation-delay: 2s;
  }
  &:nth-of-type(4) {
    animation-delay: 0;
  }
}

.gallery-img {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 7.40681px;
}

@media screen and (min-width: $tablet) {
  .gallery {
    min-height: 164px;
  }

  .gallery-img {
    border-radius: 18px;
  }
}

@media screen and (min-width: $desktop) {
  .gallery {
    min-height: 94px;
  }

  .gallery-img {
    border-radius: 24px;
  }
}
