.gallery {
  position: relative;
  min-height: 24px;
  background-repeat: no-repeat;
}

.gallery-container {
  // padding: 0 20px;
  position: relative;
  height: 10px;
}

.gallery-photo-container {
  position: absolute;
  top: 0;
  // min-height: 300px;
  width: 100%;
}

.gallery-photo {
  // position: absolute;
  //top: 0px;
  //left: 50%;
  // transform: translateX(-50%);
  border-radius: 7.40681px;
  width: 100%;
}

@media screen and (min-width: $tablet) {
  .gallery {
    min-height: 164px;
  }

  .gallery-photo {
    border-radius: 18px;
  }
}

@media screen and (min-width: $desktop) {
  .gallery {
    min-height: 94px;
  }

  .gallery-photo {
    border-radius: 24px;
  }
}
