.header {
  position: absolute;
  width: 100%;
}

.header-scroll {
  position: fixed;
  background-color: rgba(132, 161, 120, 0.8);
  z-index: 20;
  padding-bottom: 17px;
  width: 100%;

  & .header-nav__link {
    color: var(--secondary-btn-color);

    &:hover {
      color: var(--primary-title-color);
    }
  }
}
