@import './header';
@import './hero';
@import './products';
@import './about';
@import './advantages';
@import './gallery';
@import './customer-reviews';
@import './contacts';
@import './footer';
@import './header-scroll';
@import './buy_now';
@import './our_location';
@import './franchise';
@import './product-form';
